<div class="contenido">
  <div class="formulario">
    <form>
      <div class="form-group">
        <label>Asunto</label>
        <input
          class="form-control"
          type="text"
          placeholder="Asunto"
          required
          maxlength="150"
          [formControl]="asunto"
        />
      </div>

      <div class="form-group">
        <label>Mensaje</label>
        <textarea
          class="form-control"
          rows="4"
          required
          maxlength="800"
          [formControl]="mensaje"
        ></textarea>
      </div>
      <a class="btn btn-color btn-lg btn-block"
        href="https://mail.google.com/mail/?view=cm&fs=1&to=abadrubioenrique@gmail.com&su={{asunto.value}}&body={{mensaje.value}}"
        target="_blank">Contactar por correo</a>
    </form>
  </div>
</div>
