<div class="contenido container">
  
  <div class="box Primero">
    <h2 class="titulo-seccion">Programación web</h2>
    <img src="assets/img/web.jpg" [routerLink]="['/web']" alt="Programador Web" />
    <p>Diseño, maquetación y programación Front-End con React.js y Angular. Aplicaciones web con autentificación de usuarios para la conexión y gestión de bases de datos, metodología CRUD. </p>
    <button routerLink="/web" class="btn btn-absoulute">Acceder</button>
  </div>
  <div class="box Segundo">
    <h2 class="titulo-seccion">Desarrollo de videojuegos</h2>
    <img src="assets/img/unity.jpg" [routerLink]="['/unity']" alt="Unity" />
    <p>
      Desde la propia conceptualización del videojuego, hasta su fase final de
      producción, testeo y el mantenimiento del mismo, asi como su adaptación a
      otras plataformas.
    </p>
    <button routerLink="/unity" class="btn btn-absoulute">Acceder</button>
  </div>
  <div class="box Tercero">
    <h2 class="titulo-seccion">Realización de contenido Multimedia y Postprodución</h2>
    <img src="assets/img/Adobe.jpg" [routerLink]="['/adobe']" alt="Adobe" />
    <p>
      Diseño gráfico, postprodución audiovisual y optimización del producto
      final en función de las necesidades.
    </p>
    <button routerLink="/adobe" class="btn btn-absoulute">Acceder</button>
  </div>
  <div class="box Cuarto">
    <h2 class="titulo-seccion">Rig y Animación 3D</h2>
    <img src="assets/img/Maya.jpg" [routerLink]="['/animacion']" alt="Maya" />
    <p>Rigging y animación de objetos y personajes.</p>
    <button routerLink="/animacion" class="btn btn-absoulute">Acceder</button>
  </div>
  <div class="box Quinto">
    <h2 class="titulo-seccion">Modelado 3D</h2>
    <img src="assets/img/Blender.jpg" [routerLink]="['/modelado']" alt="Blender" />
    <p>Creación de material 3D variado.</p>
    <button routerLink="/modelado" class="btn btn-absoulute">Acceder</button>
  </div>
  <div class="box Sexto">
    <h2 class="titulo-seccion">Texturizado</h2>
    <img src="assets/img/Texturizado.jpg" [routerLink]="['/texturizado']" alt="Texturizado" />
    <p>
      Generación de materiales y aplicación de los mismos, asi como el
      renderizado final.
    </p>
    <button [routerLink]="['/texturizado']" class="btn btn-absoulute">Acceder</button>
  </div>
</div>
