<h1 class="titulo-seccion">About Enrique</h1>
<div class="contenido about">
  <div class="resumen">
    Como experto en Appian y desarrollo web, he adquirido habilidades sólidas en la administración del tiempo y la gestión de tareas asignadas, considerando su impacto global. A lo largo de mi carrera, he demostrado una gran eficacia en la creación de soluciones innovadoras y eficientes. 
    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actualmente, me desempeño como desarrollador de Appian en Servinform, donde sigo mejorando mis habilidades y conocimientos. Si necesitas un experto en Appian y desarrollo web, no dudes en contactarme.

  </div>
  <div class="about-sub">
    <button class="btn-about" (click)="formacionDisplay()">
      <h2>Formación</h2>
    </button>
    <div *ngIf="formacionShow">
      <h3 class="titulo-about">Bachillerato de ciencias y tecnología.</h3>
      <div class="nota">
        Realizado en el colegio
        <a target="_blank" href="https://jesus-maria.org/elcuco/"
          >"El Cuco", Jerez de la Frontera (Cádiz).</a
        >
      </div>
      <h3 class="titulo-about">Ingeniería Informática.</h3>
      <div class="nota">
        Cursado durante 2 años en la
        <a target="_blank" href="https://www.informatica.us.es/"
          >Universidad de Ingeniería Informatica de Sevilla</a
        >, estudios no finalizados.
      </div>
      <h3 class="titulo-about">
        Técnico Superior de Animaciones 3D, Juegos y Entornos Interactivos.
      </h3>
      <div class="nota">
        Realizado en la
        <a
          target="_blank"
          href="https://universidadeuropea.com/tecnico-superior-animacion-3d-entornos-interactivos-madrid/"
          >Universidad Europea, Villaviciosa de Odón (Madrid)</a
        >
      </div>
      <h3 class="titulo-about">Bootcamp en Frontend Developer</h3>
      <div class="nota">
        Octubre 2021 - Marzo 2022 en
        <a target="_blank" href="https://open-bootcamp.com">Open Bootcamp</a>.
      </div>
      <h3 class="titulo-about">Appian Developer.</h3>
      <div class="nota">
        Abril 2022 - Mayo 2022 en
        <a target="_blank" href="https://academy.appian.com/"
          >Appian Academy.</a
        >
      </div>
    </div>
    <button class="btn-about" (click)="certificadosDisplay()">
      <h2>Certificados</h2>
    </button>
    <div *ngIf="certificadosShow">
      <div *ngFor="let certificado of certificados">
        <div class="certificado">
          <h3 class="titulo-about">{{ certificado.name }}</h3>

          <div class="nota">
            {{ certificado.note }}
          </div>
          <div class="description">
            {{ certificado.description }}
          </div>
          <a
            class="btn btn-certificado"
            target="_blank"
            href="{{ certificado.url }}"
            >Ir al certificado</a
          >
        </div>
      </div>
    </div>
    <div>
      <button class="btn-about" (click)="portfolioDisplay()">
        <h2>Portfolio</h2>
      </button>
  </div>
    <div>
      <button class="btn-about" (click)="idiomasDisplay()">
        <h2>Idiomas</h2>
      </button>
      <div *ngIf="idiomasShow">
        <h3 class="titulo-about">Español:<span>Nativo</span></h3>
        <h3 class="titulo-about">Inglés:<span>B1</span></h3>
        <h3 class="titulo-about">Francés:<span>A2</span></h3>
      </div>
    </div>

</div>
