/* FUENTES */
$fuentePrincipal: 'Dancing Script', cursive;
$fuenteTitulo: 'Lobster', cursive;
$fuenteParrafo:'Manrope', sans-serif;
$fuenteTituloSecundario : 'Signika', sans-serif;
/* COLORES */
$verde:#04AA6D;
$grisOscuro:#333;
$activo:rgb(95, 95, 95);

/* PESO */
$delgada:300;
$regular:400;
$bold:700;
$black:900;