<div class="contenido">
    <div class="contenido">
        <h1 class="titulo-seccion">Adobe</h1>
      <div class="fotos">
          <ngb-carousel *ngIf="slide_list">
            <ng-template ngbSlide *ngFor="let slide of slides">
              <img [src]="slide.img" [alt]="slide.slide">
              <div class="carousel-caption">
                <div class="description">
                <h3>{{ slide.title }}</h3>
                <p [innerText]="slide.Description"></p>
            </div>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
          </div>
</div>

